In [1]:
import pandas as pd
from datetime import datetime
import json
import numpy as np
from pathlib import Path
import os

In [2]:
def Datetime(DATE):
    DATE['Date'] = pd.to_datetime(DATE['Timestamp'], unit='s')
    DATE['Date']=DATE.Date.dt.strftime('%Y-%m-%d %H:%M:%S') 
    return DATE

In [9]:
df=pd.read_csv('Data\part2_100000_200000.csv')
df['Date'] = pd.to_datetime(df['Timestamp'], unit='s')
df['Date']=df.Date.dt.strftime('%Y-%m-%d %H:%M:%S')

f=open('important_features.json')
feature = json.load(f) 
important=feature[:10]
important.append('Date')

In [10]:
df[important[5:]]

,Mittlere_Absolute_Abweichung_y,Effektivwert_y,Standardabweichung_x,Mittelwert_x,Variance_x,Date
0,168.181,430.811,336.610,-253.696,113420.0,2021-02-12 14:26:40
1,162.307,407.917,342.401,-253.696,117356.0,2021-02-12 14:26:40
2,163.119,419.403,328.824,-259.072,108233.0,2021-02-12 14:26:40
3,151.958,388.749,331.830,-263.424,110221.0,2021-02-12 14:26:40
4,157.922,413.105,319.947,-257.024,102469.0,2021-02-12 14:26:40
...,...,...,...,...,...,...
99995,148.951,374.321,307.483,-176.128,94640.5,2021-05-26 00:46:40
99996,156.334,380.399,318.900,-175.360,101799.0,2021-05-26 00:46:40
99997,142.643,363.304,317.520,-198.400,100920.0,2021-05-26 00:46:40
99998,156.443,390.348,299.106,-159.232,89553.8,2021-05-26 00:46:40
99999,157.991,384.171,303.830,-161.792,92404.8,2021-05-26 00:46:40

In [11]:
np.unique(df.Date)

array(['2021-02-12 14:26:40', '2021-05-25 10:53:20',
       '2021-05-25 13:40:00', '2021-05-25 16:26:40',
       '2021-05-25 19:13:20', '2021-05-25 22:00:00',
       '2021-05-26 00:46:40'], dtype=object)

In [13]:
datafolder=Path(r'D:\studydata\Masterarbeit\Data\withoutR')
dataname=os.listdir(datafolder)
all_datapath=[]
for name in dataname:
   datapath=os.path.join(datafolder,name)
   all_datapath.append(datapath)
all_datapath.sort(key=len)
all_datapath

['D:\\studydata\\Masterarbeit\\Data\\withoutR\\axis2_demo_tablepart1.csv',
 'D:\\studydata\\Masterarbeit\\Data\\withoutR\\axis2_demo_tablepart2.csv',
 'D:\\studydata\\Masterarbeit\\Data\\withoutR\\axis2_demo_tablepart3.csv',
 'D:\\studydata\\Masterarbeit\\Data\\withoutR\\axis2_demo_tablepart4.csv',
 'D:\\studydata\\Masterarbeit\\Data\\withoutR\\axis2_demo_tablepart5.csv',
 'D:\\studydata\\Masterarbeit\\Data\\withoutR\\axis2_demo_tablepart6.csv',
 'D:\\studydata\\Masterarbeit\\Data\\withoutR\\axis2_demo_tablepart7.csv',
 'D:\\studydata\\Masterarbeit\\Data\\withoutR\\axis2_demo_tablepart8.csv']

In [15]:
all=pd.DataFrame()
for path in all_datapath:
    partdata=pd.read_csv(path)
    all=pd.concat([all,partdata])
all.to_csv('all_axis1.csv',index=False)

In [3]:
df=pd.read_csv("all_axis1.csv")
len(df)

1445916

In [18]:
all['Date'] = pd.to_datetime(all['Timestamp'], unit='s')
all['Date']=all.Date.dt.strftime('%Y-%m-%d %H:%M:%S')

In [ ]:
os.getcwd()

'C:\\Users\\lia68085\\Thesis\\axis1-demo_Dataset'

In [19]:

f=open('important_features.json')
feature = json.load(f) 
important=feature[:5]
important.append('Date')

In [20]:
allnew=pd.DataFrame(all)
last=allnew[important].tail()

In [21]:
allnew['year'] = pd.to_datetime(allnew['Date']).dt.year.to_list()
allnew.head()

,ID,Schadensklasse,Mittelwert_x,Mittelwert_y,Mittelwert_z,Variance_x,Variance_y,Variance_z,Effektivwert_x,Effektivwert_y,...,Mittlere_Absolute_Abweichung_z,Zentrales_Moment_x,Zentrales_Moment_y,Zentrales_Moment_z,Median_x,Median_y,Median_z,Timestamp,Date,year
0,1,2,569.600,-547.072,15889.7,108005.0,26911.8,220962,657.526,571.115,...,350.131,0,0,0,512,-512,15872,1604490000,2020-11-04 11:40:00,2020
1,2,2,545.792,-545.280,15879.7,96078.5,29592.9,235057,627.592,571.746,...,363.095,0,0,0,512,-512,15872,1604490000,2020-11-04 11:40:00,2020
2,3,2,565.248,-544.512,15885.8,105404.0,24460.9,256573,651.770,566.507,...,395.262,0,0,0,512,-512,15872,1604490000,2020-11-04 11:40:00,2020
3,4,2,566.784,-541.440,15920.1,106026.0,30555.6,241982,653.578,568.931,...,389.710,0,0,0,512,-512,15872,1604490000,2020-11-04 11:40:00,2020
4,5,2,567.040,-563.456,15917.1,115510.0,26411.1,268509,661.006,586.402,...,414.196,0,0,0,512,-512,15872,1604490000,2020-11-04 11:40:00,2020

In [22]:
total_length=len(allnew)

In [23]:
for x in np.unique(allnew.year):
    length=len(allnew[allnew.year==x])
    print(f'{x}',length)

2020 7308
2021 737573
2022 701035

In [24]:
# calculate the length of each partition
partition_length = total_length // 3

# split DataFrame
part1 = allnew.iloc[:partition_length]
part2 = allnew.iloc[partition_length:2*partition_length]
part3 = allnew.iloc[2*partition_length:]

# check the length of each partition
print(" the length of the first part:", len(part2))
print(" the length of the second part:", len(part2))
print(" the length of the third part:", len(part3))

ç¬¬ä¸€ä»½é•¿åº¦: 481972
ç¬¬äºŒä»½é•¿åº¦: 481972
ç¬¬ä¸‰ä»½é•¿åº¦: 481972

#  axis1 2000 features["Effektivwert_z","Median_z", "Mittlere_Absolute_Abweichung_z", "Mittelwert_z", "Median_y", "Effektivwert_y", "Effektivwert_x", "Variance_z", "Mittelwert_x", "Standardabweichung_z"]

In [8]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

import json 
import pickle
import pandas as pd
import numpy as np
# Load the synthetic data
with open('synthetic_data_2000_axis1.pkl', 'rb') as f:
    synthetic_features = pickle.load(f)
print(synthetic_features.shape)
with open ('./Data/ETT/feature_important_axis1.json', 'r') as f:
    importance = json.load(f)
print(importance)
# get the current time
current_time = datetime.now()

# generate a list of UNIX timestamps, each batch of timestamps differs by one hour
timestamps = [(current_time + timedelta(hours=i)).timestamp() for i in range(synthetic_features.shape[0])]

# add UNIX timestamps to the synthetic features
# expand the shape of the timestamps to match the synthetic_features
timestamp_array = np.array(timestamps).reshape(-1, 1, 1)
timestamp_array = np.tile(timestamp_array, (1, synthetic_features.shape[1], 1))

# concatenate the timestamps and synthetic features
synthetic_features_with_timestamps = np.concatenate((timestamp_array, synthetic_features), axis=2)

# reshape the synthetic features with timestamps
reshaped_features = synthetic_features_with_timestamps.reshape(-1, synthetic_features_with_timestamps.shape[2])
columns =['Timestamp']+ importance

# create a DataFrame
synthetic_df = pd.DataFrame(reshaped_features, columns=columns)

synthetic_df.to_csv('./Data/ETT/synthetic_data_2000_axis1.csv', index=False)
synthetic_df.head()

(300, 2000, 10)
['Effektivwert_z', 'Median_z', 'Mittlere_Absolute_Abweichung_z', 'Mittelwert_z', 'Median_y', 'Effektivwert_y', 'Effektivwert_x', 'Variance_z', 'Mittelwert_x', 'Standardabweichung_z']

,Timestamp,Effektivwert_z,Median_z,Mittlere_Absolute_Abweichung_z,Mittelwert_z,Median_y,Effektivwert_y,Effektivwert_x,Variance_z,Mittelwert_x,Standardabweichung_z
0,1.721478e+09,16583.060547,14809.136719,112.215935,14589.859375,-40.987061,742.481018,21747.822266,-61223.265625,-21511.958984,1756.340210
1,1.721478e+09,16582.994141,14808.652344,111.610374,14589.828125,-40.915283,737.515747,21747.626953,-69958.359375,-21510.826172,1756.326050
2,1.721478e+09,16582.958984,14809.625000,111.903946,14589.925781,-40.892090,740.172607,21747.787109,-69023.914062,-21513.232422,1756.357910
3,1.721478e+09,16582.958984,14809.375000,111.996399,14590.082031,-40.965332,741.036560,21747.757812,-68024.179688,-21512.185547,1756.419678
4,1.721478e+09,16582.943359,14809.921875,112.016266,14589.929688,-41.034424,740.325623,21747.820312,-65462.996094,-21512.496094,1756.278687

# axis1 10000 features["Effektivwert_z","Median_z", "Mittlere_Absolute_Abweichung_z", "Mittelwert_z", "Median_y", "Effektivwert_y", "Effektivwert_x", "Variance_z", "Mittelwert_x", "Standardabweichung_z"]

In [9]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

import json 
import pickle
import pandas as pd
import numpy as np
# Load the synthetic data
with open('synthetic_data_10000_axis1.pkl', 'rb') as f:
    synthetic_features = pickle.load(f)
print(synthetic_features.shape)
with open ('./Data/ETT/feature_important_axis1.json', 'r') as f:
    importance = json.load(f)
print(importance)
# get the current time
current_time = datetime.now()

# generate a list of UNIX timestamps, each batch of timestamps differs by one hour
timestamps = [(current_time + timedelta(hours=i)).timestamp() for i in range(synthetic_features.shape[0])]

# add UNIX timestamps to the synthetic features
# expand the shape of the timestamps to match the synthetic_features
timestamp_array = np.array(timestamps).reshape(-1, 1, 1)
timestamp_array = np.tile(timestamp_array, (1, synthetic_features.shape[1], 1))

# concatenate the timestamps and synthetic features
synthetic_features_with_timestamps = np.concatenate((timestamp_array, synthetic_features), axis=2)

# reshape the synthetic features with timestamps
reshaped_features = synthetic_features_with_timestamps.reshape(-1, synthetic_features_with_timestamps.shape[2])

columns =['Timestamp']+ importance

# create a DataFrame
synthetic_df = pd.DataFrame(reshaped_features, columns=columns)

synthetic_df.to_csv('./Data/ETT/synthetic_data_10000_axis1.csv', index=False)
synthetic_df.head()

(50, 10000, 10)
['Effektivwert_z', 'Median_z', 'Mittlere_Absolute_Abweichung_z', 'Mittelwert_z', 'Median_y', 'Effektivwert_y', 'Effektivwert_x', 'Variance_z', 'Mittelwert_x', 'Standardabweichung_z']

,Timestamp,Effektivwert_z,Median_z,Mittlere_Absolute_Abweichung_z,Mittelwert_z,Median_y,Effektivwert_y,Effektivwert_x,Variance_z,Mittelwert_x,Standardabweichung_z
0,1.721478e+09,13939.009766,21030.402344,1308.211670,17277.109375,1010.787109,1276.927734,20346.619141,12328100.0,-16969.375000,886.312500
1,1.721478e+09,13862.076172,21020.027344,1321.467651,17220.421875,907.935303,1219.153564,20392.701172,13458755.0,-16939.951172,923.019409
2,1.721478e+09,13894.307617,21022.558594,1285.380859,17250.023438,1010.308350,1301.046997,20378.734375,13134255.0,-16945.289062,945.231873
3,1.721478e+09,13878.738281,21337.906250,1313.531128,17277.574219,1080.265869,1211.750610,20349.361328,12526677.0,-16908.394531,868.712158
4,1.721478e+09,13915.550781,21118.734375,1325.578247,17304.449219,1199.155273,1410.306274,20381.224609,13421669.0,-16913.527344,850.431152

#  axis2 2000 features["Effektivwert_z","Median_z", "Mittlere_Absolute_Abweichung_z", "Mittelwert_z", "Median_y", "Effektivwert_y", "Effektivwert_x", "Variance_z", "Mittelwert_x", "Standardabweichung_z"]

In [ ]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

import json 
import pickle
import pandas as pd
import numpy as np
# Load the synthetic data
with open('synthetic_data_2000_axis2.pkl', 'rb') as f:
    synthetic_features = pickle.load(f)
print(synthetic_features.shape)
with open ('./Data/ETT/feature_important_axis2.json', 'r') as f:
    importance = json.load(f)
print(importance)
# get the current time
current_time = datetime.now()

# generate a list of UNIX timestamps, each batch of timestamps differs by one hour
timestamps = [(current_time + timedelta(hours=i)).timestamp() for i in range(synthetic_features.shape[0])]

# add UNIX timestamps to the synthetic features
# expand the shape of the timestamps to match the synthetic_features
timestamp_array = np.array(timestamps).reshape(-1, 1, 1)
timestamp_array = np.tile(timestamp_array, (1, synthetic_features.shape[1], 1))

# concatenate the timestamps and synthetic features
synthetic_features_with_timestamps = np.concatenate((timestamp_array, synthetic_features), axis=2)

# reshape the synthetic features with timestamps
reshaped_features = synthetic_features_with_timestamps.reshape(-1, synthetic_features_with_timestamps.shape[2])
columns =['Timestamp']+ importance

# create a DataFrame
synthetic_df = pd.DataFrame(reshaped_features, columns=columns)

synthetic_df.to_csv('./Data/ETT/synthetic_data_2000_axis2.csv', index=False)
synthetic_df.head()

#  axis2 10000 features["Effektivwert_z","Median_z", "Mittlere_Absolute_Abweichung_z", "Mittelwert_z", "Median_y", "Effektivwert_y", "Effektivwert_x", "Variance_z", "Mittelwert_x", "Standardabweichung_z"]

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

import json 
import pickle
import pandas as pd
import numpy as np
# Load the synthetic data
with open('synthetic_data_10000_axis2.pkl', 'rb') as f:
    synthetic_features = pickle.load(f)
print(synthetic_features.shape)
with open ('./Data/ETT/feature_important_axis2.json', 'r') as f:
    importance = json.load(f)
print(importance)
# get the current time
current_time = datetime.now()

# generate a list of UNIX timestamps, each batch of timestamps differs by one hour
timestamps = [(current_time + timedelta(hours=i)).timestamp() for i in range(synthetic_features.shape[0])]


# add UNIX timestamps to the synthetic features
# expand the shape of the timestamps to match the synthetic_features
timestamp_array = np.array(timestamps).reshape(-1, 1, 1)
timestamp_array = np.tile(timestamp_array, (1, synthetic_features.shape[1], 1))

# concatenate the timestamps and synthetic features
synthetic_features_with_timestamps = np.concatenate((timestamp_array, synthetic_features), axis=2)

# reshape the synthetic features with timestamps
reshaped_features = synthetic_features_with_timestamps.reshape(-1, synthetic_features_with_timestamps.shape[2])
columns =['Timestamp']+ importance

# create a DataFrame
synthetic_df = pd.DataFrame(reshaped_features, columns=columns)

synthetic_df.to_csv('./Data/ETT/synthetic_data_10000_axis2.csv', index=False)
synthetic_df.head()

(30, 10000, 10)
['Median_z', 'Mittelwert_x', 'Effektivwert_z', 'Mittelwert_z', 'Variance_z', 'Effektivwert_y', 'Standardabweichung_x', 'Standardabweichung_z', 'Mittlere_Absolute_Abweichung_x', 'Mittlere_Absolute_Abweichung_z']

,Timestamp,Median_z,Mittelwert_x,Effektivwert_z,Mittelwert_z,Variance_z,Effektivwert_y,Standardabweichung_x,Standardabweichung_z,Mittlere_Absolute_Abweichung_x,Mittlere_Absolute_Abweichung_z
0,1.723570e+09,15662.732422,137.375519,15766.724609,15650.944336,4372608.00,1103.974487,1015.044250,883.130981,625.767700,632.324890
1,1.723570e+09,15670.480469,126.287323,15775.873047,15646.951172,4611524.00,1078.679443,1023.123840,892.738770,651.888672,613.738342
2,1.723570e+09,15659.190430,118.828461,15762.304688,15648.437500,4048681.25,1059.507324,1010.814270,915.655701,655.803833,659.169556
3,1.723570e+09,15655.961914,130.124603,15771.895508,15646.889648,3984231.25,1081.132080,1007.705444,895.654541,623.195007,634.377441
4,1.723570e+09,15663.914062,132.045013,15768.230469,15642.317383,4085693.00,1015.156067,977.296753,875.182617,645.365845,667.423096

# #  axis2 2000 features["Effektivwert_z","Median_z", "Mittlere_Absolute_Abweichung_z", "Mittelwert_z", "Median_y", "Effektivwert_y", "Effektivwert_x", "Variance_z", "Mittelwert_x", "Standardabweichung_z"]

In [2]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

import json 
import pickle
import pandas as pd
import numpy as np
# Load the synthetic data
with open('synthetic_data_2000_axis2.pkl', 'rb') as f:
    synthetic_features = pickle.load(f)
print(synthetic_features.shape)
with open ('./Data/ETT/feature_important_axis2.json', 'r') as f:
    importance = json.load(f)
print(importance)
# get the current time
current_time = datetime.now()

# generate a list of UNIX timestamps, each batch of timestamps differs by one hour
timestamps = [(current_time + timedelta(hours=i)).timestamp() for i in range(synthetic_features.shape[0])]

# add UNIX timestamps to the synthetic features
# expand the shape of the timestamps to match the synthetic_features
timestamp_array = np.array(timestamps).reshape(-1, 1, 1)
timestamp_array = np.tile(timestamp_array, (1, synthetic_features.shape[1], 1))

# concatenate the timestamps and synthetic features
synthetic_features_with_timestamps = np.concatenate((timestamp_array, synthetic_features), axis=2)

# reshape the synthetic features with timestamps
reshaped_features = synthetic_features_with_timestamps.reshape(-1, synthetic_features_with_timestamps.shape[2])
columns =['Timestamp']+ importance

# create a DataFrame
synthetic_df = pd.DataFrame(reshaped_features, columns=columns)

synthetic_df.to_csv('./Data/ETT/synthetic_data_2000_axis2.csv', index=False)
synthetic_df.head()

(200, 2000, 10)
['Median_z', 'Mittelwert_x', 'Effektivwert_z', 'Mittelwert_z', 'Variance_z', 'Effektivwert_y', 'Standardabweichung_x', 'Standardabweichung_z', 'Mittlere_Absolute_Abweichung_x', 'Mittlere_Absolute_Abweichung_z']

,Timestamp,Median_z,Mittelwert_x,Effektivwert_z,Mittelwert_z,Variance_z,Effektivwert_y,Standardabweichung_x,Standardabweichung_z,Mittlere_Absolute_Abweichung_x,Mittlere_Absolute_Abweichung_z
0,1.723571e+09,15654.531250,163.837769,15709.328125,15768.375000,316217.68750,238.472656,264.472900,634.722290,347.197327,409.120605
1,1.723571e+09,15655.672852,164.011108,15709.777344,15765.341797,314379.46875,238.503632,260.581146,634.820679,344.886536,407.486847
2,1.723571e+09,15656.387695,164.992676,15710.149414,15777.388672,318859.06250,238.949783,262.977448,632.207886,345.905945,405.692719
3,1.723571e+09,15657.096680,160.908508,15709.744141,15765.610352,321174.71875,239.546036,264.994263,635.223999,346.455200,405.226471
4,1.723571e+09,15656.710938,162.061279,15708.202148,15770.481445,326544.81250,243.518372,266.889343,635.356323,347.630127,406.661896